{% extends 'navbar.html'%}
{% block content%}
{% for message in get_flashed_messages()%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{%endfor%} 
{%if id==current_user.id%}
    <h1>Update user...</h1>
</br></br>
        <p>ID to Update: {{id}}</p>
        <p>current id: {{current_user.id}}</p>
</br></br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="/update/{{name_to_update.id}}" method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}</br>
        {{form.name(class="form-label",value=name_to_update.name)}}
</br>
        {{form.username.label}}</br>
        {{form.username(class="form-label",value=name_to_update.username)}}
</br>
        {{form.email.label}}</br>
        {{form.email(class="form-label"
        ,value=name_to_update.email)}}
        </br>
        {{form.favorite_color.label}}</br>
        {{form.favorite_color(class="form-label"
        ,value=name_to_update.favorite_color)}}</br>
        {{form.submit(class="btn btn-dark")}}
       
       
        <a href="{{url_for('delete_user',id=id)}}" class="btn btn-danger">Delete</a>


    </form>
</div>
{%else%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    You can't edit this user!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
  </div>
  <h2>Access Denied!</h2>
    <p>Sorry! Tou cannot access this user profile...</p>

{% endif %}
{% endblock %}